<div>{{acceptedInput}}</div>

<form method="POST" action ="/login">
    <label for="Email">Email</label>
    <p class="errors">{{emailError}}</p>  
    <input type="text" id="Email" name="Email" value="{{{Email}}}"><!--{{{email}}}--></input> <br>  

    <label for="Pass">Password</label>
    <p class="errors">{{passError}}</p>    
    <input type="text" id="Pass" name="Pass" value=""><!--{{{password}}}--></input> <br><br>

    <input type="submit" value="Login">
</form>